---
import { MoveLeft } from '@lucide/astro'
const fallback = '/blog'
---

<button
  class="px-3 py-1 border-2 border-foreground/25 hover:bg-foreground/10 dark:hover:bg-foreground/15 hover:cursor-pointer transition-all duration-300 rounded flex group gap-4 mb-6 items-center"
  onclick={`if (history.length > 1) { history.back() } else { window.location.href = '${fallback}' }`}
>
  <span class="w-8">
    <MoveLeft class="ml-3 group-hover:ml-0 transition-all duration-300" />
  </span> Back
</button>
